.customModal {
  background: #b2dbbf;
  max-width: 500px;
  width: 100%;
  height: 50%;
  border-radius: 25px;
}

.customRgModal {
  background: #b2dbbf;
  max-width: 500px;
  width: 100%;
  height: 70%;
  border-radius: 25px;
}

.form-login {
  display: flex;
  flex-direction: column;
}

.input-login {
  margin-top: 15px;
  padding: 15px 15px;
  border: none;
  border-radius: 15px;
}

.btn-submit {
  background-color: #fba70b;
  padding: 15px;
  border: none;
  border-radius: 15px;
  margin-top: 25px;
  text-align: center;
  color: #fff;
}

.btn-submit:hover {
  background-color: #f1556a;
  color: #fff;
  cursor: pointer;
}

.regis-link {
  margin-top: 25px;
}

.regis-link p {
  text-align: center;
  font-size: 16px;
}
